# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/build/resources/main/templates/addcountry.html
/build/resources/main/templates/addskater.html
/build/resources/main/static/js/app.js
/build/resources/main/application.properties
/build/classes/java/main/SkateApplication/ConsoleApp.class
/build/resources/main/templates/countries.html
/build/resources/main/templates/country.html
/build/resources/main/templates/country_en.properties
/build/resources/main/templates/country_fr.properties
/build/classes/java/main/SkateApplication/presentation/CountryController$CountryViewModel.class
/build/classes/java/main/SkateApplication/presentation/CountryController.class
/build/classes/java/main/SkateApplication/domain/CountryOfOrigin.class
/build/classes/java/main/SkateApplication/repository/CountryRepository.class
/build/classes/java/main/SkateApplication/repository/CountryRepositoryImpl.class
/build/classes/java/main/SkateApplication/service/CountryService.class
/build/classes/java/main/SkateApplication/service/CountryServiceImpl.class
/build/classes/java/main/SkateApplication/configuration/DatabaseSeeder.class
/build/resources/main/templates/fragments/fragments.html
/build/classes/java/main/SkateApplication/repository/JSonWriter.class
/build/classes/java/main/SkateApplication/repository/LocalDateTimeSerializer.class
/.gradle/7.4/checksums/md5-checksums.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.4/fileHashes/resourceHashesCache.bin
/.gradle/7.4/checksums/sha1-checksums.bin
/build/classes/java/main/SkateApplication/domain/Skater.class
/build/resources/main/templates/skater.html
/build/classes/java/main/SkateApplication/presentation/SkaterController$SkaterViewModel.class
/build/classes/java/main/SkateApplication/presentation/SkaterController.class
/build/classes/java/main/SkateApplication/repository/SkaterRepository.class
/build/classes/java/main/SkateApplication/repository/SkaterRepositoryImpl.class
/build/resources/main/templates/skaters.html
/build/resources/main/templates/skaters_en.properties
/build/resources/main/templates/skaters_fr.properties
/build/classes/java/main/SkateApplication/service/SkaterService.class
/build/classes/java/main/SkateApplication/service/SkaterServiceImpl.class
/build/classes/java/main/SkateApplication/domain/Sponsor.class
/build/classes/java/main/SkateApplication/repository/SponsorRepository.class
/build/classes/java/main/SkateApplication/repository/SponsorRepositoryImpl.class
/build/classes/java/main/SkateApplication/domain/Stance.class
